.body {
    overflow-x: hidden;
    padding: 0px;
}

/*ヘッダースタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.header {
    display: flex;
    flex-direction: row;
    height: 67px;
    background: #222831;
    border: 1px solid #000000;
    width: 100%;
}

/*タイトルスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.title_bg {
    display: flex;
    width: 107px;
    height: 45px;
    margin: 11px;
    background: #DDDDDD;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    text-align: center;
    align-items: center;
}

.favicon {
    width: 33px;
    height: 33px;
    margin-left: 9px;
}

.title_name {
    font-family: serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    padding-top: 3px;

    color: #000000;
}

/*タイトルスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*ログアウトボタンスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.logout_btn_bg {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 150px;
    height: 45px;
    margin-top: 11px;
    margin-right: 11px;
    margin-left: auto;
    background: #F05454;
    border: 1px solid #000000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    text-align: center;
    align-items: center;
}

.logout_text {
    margin-left: 5px;
    margin-top: 12px;
    font-family: serif;
    font-weight: 400;
    font-size: 21px;
    width: 105px;
    height: 33px;
    color: #FFFFFF;
}

.logout_icon {
    width: 33px;
    height: 33px;
}


/*ログアウトボタンスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/*ヘッダースタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*カレンダースタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.carender_bg_1 {
    display: flex;
    margin: 10px 11px 0 11px;
    width: calc(100% - 22px);
    /* 横マージンを考慮した最大幅 */
    height: 596px;
    background: #30475E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.carender_bg_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 586px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

/*カレンダー情報作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.carender_info_bg {
    display: flex;
    flex-direction: row;
    height: 26px;
    margin: 5px;
    flex: 1;
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    background-color: #fff;
}

.carender_info_wiget {
    width: 100px;
    height: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.carender_mounth_wiget {
    height: 26px;
    flex: 1;
    width: 100%;
    /* 横マージンを考慮した最大幅 */
    background-color: #fff;
    font-family: serif;
    font-weight: 400;
    font-size: 27px;
    text-align: center;
    color: #000000;
}

.carender_day_wiget {
    font-family: serif;
    max-width: 100%;
    height: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #52616B;
    display: flex;
    align-items: flex-end;
}

.employee_user_icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 2px solid #52616B;
    Overflow: hidden;
    cursor: pointer;
}

.employee_user_icon_head {
    display: flex;
    background: #52616B;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.employee_user_icon_body {
    display: flex;
    background: #52616B;
    width: 21px;
    height: 16px;
    border-radius: 40% 40% 0% 0%;
    margin-top: 2px;
}

.user_name {
    max-width: 100%;
    height: 26px;
    font-family: serif;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: flex-end;
    color: #52616B;
}

/*カレンダー情報作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


/*ウィークビュースタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.carender_weekview {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 52px;
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0px 5px;
}

/*両端に4pxのmarginを設ける事とする*/

.carender_week_bg {
    width: calc(100%/5);
    height: 52px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    background: #F05454;
    border-radius: 13px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.carender_radiobtn {
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.carender_week_elem {
    display: block;
    margin: auto auto 5px auto;
    margin-top: 5px;
    font-family: serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.carender_week {
    display: block;
    margin: 5px auto auto auto;
    font-family: serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
}


/*ウィークビュースタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.carender_bg_3 {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 488px;
    margin: 5px;
    background: #FFFFFF;
}

/*カレンダ―タイトルスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.carender_title_bg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 21px;
    border: 1px solid #000000;
}

.carender_blank {
    width: 20%;
    height: 20px;
    border-right: 1px solid #000000;
}

.carender_title_time {
    width: 15%;
    height: 20px;
    border-right: 1px solid #000000;
    text-align: center;
}

.carender_title_workcord {
    width: 25%;
    height: 20px;
    border-right: 1px solid #000000;
    text-align: center;
}

.carender_title_consnum {
    width: 40%;
    height: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.time_text {
    display: block;
    margin-top: 1.5px;
    font-family: serif;
    font-weight: 700;
    font-size: 15px;
}

.workcord_text {
    display: block;
    font-family: serif;
    margin-top: 1.5px;
    font-weight: 700;
    font-size: 13px;
}

.consnum_text {
    display: block;
    margin-top: 1.5px;
    font-family: serif;
    font-weight: 700;
    font-size: 15px;
}

.info_text {
    display: block;
    margin-top: 1.5px;
    font-family: serif;
    font-weight: 700;
    font-size: 15px;
}


.hamburger_menu{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 5px;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display: flex;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}


.navicon {
    margin-top: 8px;
    background: #30475E;
    display: block;
    height: 3px;
    width: 15px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #30475E;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
    top: 6px;
}

.navicon:after {
    bottom: 6px;
}

/* ハンバーガーアイコンアニメーション開始 */
.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:before {
    top: 0;
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    bottom: 0;
}

.menu-btn:checked~.menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* ハンバーガーアイコンアニメーション開始*/

/*カレンダ―タイトルスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.carender_content_bg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 428px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;
    overflow: overlay;
}

.carender_time_cell_bg {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 1159px;
    border-right: 1px solid #000000;
}


.worktime_onehour {
    height: 25px;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: auto;
    font-weight: 700;
    font-size: 22px;
    font-family: serif;
    display: flex;
    align-items: center;
    color: #000000;
}

.worktime_halftime {
    height: 26px;
    margin-top: 5px;
    margin-right: 0px;
    margin-left: auto;
    font-weight: 200;
    font-size: 13px;
    font-family: serif;
    display: flex;
    align-items: center;
    color: #000000;
}

.carender_timeline_bg {
    display: flex;
    width: 80%;
    height: 1159px;
}

.carender_time_table {
    width: 100%;
    height: 100%;
}

.halftime_line {
    width: 100%;
    height: 30.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.onehour_line {
    width: 100%;
    height: 30.5px;
    border-bottom: 1px solid #000000;
}



/*合計就労時間スタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.total_work_line {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 39px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;
    margin-left: auto;
    margin-right: 0px;
}

.total_work_bg {
    width: 40%;
    height: 100%;
    border-right: 1px solid #000000;
    display: flex;
}

.total_work {
    font-family: serif;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    margin: 12px auto;
}

.total_work_time_bg {
    width: 60%;
    height: 100%;
    display: flex;
}

.total_work_time {
    font-family: serif;
    font-weight: 400;
    font-size: 30px;
    margin: 3px auto;
}

/*合計就労時間スタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/*カレンダースタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*日報編集ボタンスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.edit_btn_bg_1 {
    display: flex;
    width: calc(100% - 22px);
    /* 横マージンを考慮した最大幅 */
    height: 80px;
    margin: 10px 11px 0 11px;
    background: #30475E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.edit_btn_bg_2 {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 70px;
    margin: 5px;
    background: #FFFFFF;
    border: 4px solid #05BFDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
}

.edit_btn_bg_3 {
    margin: auto;
    flex-direction: row;
    display: flex;
}

.edit_text {
    font-family: serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #05BFDB;
}

.edit_img {
    margin: 5px auto auto 0px;
}

/*日報編集ボタンスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*日報送信ボタンスタイル作成ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

.send_btn_bg_1 {
    width: calc(100% - 22px);
    /* 横マージンを考慮した最大幅 */
    height: 65px;
    display: flex;
    background: #30475E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin: 10px 11px 6px 11px;
}

.send_btn_bg_2 {
    width: calc(100% - 10px);
    /* 横マージンを考慮した最大幅 */
    height: 55px;
    margin: 5px;
    background: #FFFFFF;
    border: 4px solid #F05454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
}

.send_btn_text {
    display: flex;
    font-family: serif;
    font-weight: 400;
    font-size: 38px;
    color: #F05454;
    margin: 3px auto;
}

/*日報送信ボタンスタイル作成終了ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
